:root {
  --daniel-fg-color: white;
  --daniel-bg-color: #0f0f0f;
  --daniel-progress-color: #666;

  --transition-speed: 1000ms;
  --transition-color: background-color var(--transition-speed),
                      color var(--transition-speed),
                      border-color var(--transition-speed);
}

html body {
  background-color: transparent;
  margin: 0px;
}

#chat_container {
  border-left: 3px solid var(--daniel-bg-color);
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.chat_line:first-child {
  margin-top: 0
}
