@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

:root {
  --daniel-fg-color: white;
  --daniel-bg-color: #0f0f0f;
  --daniel-progress-color: #666;

  --transition-speed: 1000ms;
  --transition-color: background-color var(--transition-speed),
                      color var(--transition-speed),
                      border-color var(--transition-speed);

  --emote-size: 42px;
  --font-size: 28px;
}

html body {
    background-color: transparent;
    margin: 3px;
}

html #chat_container {
    font-family: "Arimo", sans-serif;
    font-size: var(--font-size);
}

html .chat_line {
    margin-top: 12px;
    line-height: var(--font-size);
}
